.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  padding: 1rem;
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 60%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  border-radius: 0.5rem;
}

.message p {
  margin-bottom: 1rem;
}

.message button {
  width: auto;
  font-family: "Hi Melody", cursive;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message button:hover {
  background-color: #555555;
}
