.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.4rem;
  align-items: center;
}

.controls button {
  background-color: transparent;
  border: none;
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  height: 1.5rem;
}
svg {
  max-width: 16px;
  height: auto;
}
