.SearchBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.inputBar {
  width: 60%;
  height: 2.5rem;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  border-radius: 0.5rem;
  border: thin solid white;
  font-family: "Hi Melody", cursive;
  font-size: 1.4rem;
}
